{% extends "main.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			
					<h1>Categories</h1>
				<div class="ln_solid"></div>
			
					{% for category in categories %}


                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="x_panel" >
                            <div class="x_title">
                                <a href="{{url_for('showItems', category_id=category.id)}}">
                                    <h2>{{category.name}}</h2>
                                </a>
                                    <div class="clearfix"></div>
</div>
                            <div class="x_content">
                                <a href='{{url_for('editCategory', category_id = category.id) }}'>Edit</a> |
                                <a href='{{url_for('deleteCategory', category_id = category.id ) }}'>Delete</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
		
		</div>
	</div>
{% endblock %}
{% block actionButtons %}
	<p></p>
	<a href='{{url_for('newCategory') }}'>
		<button class="btn btn-primary btn-xs">Add New Catagory</button>
	</a> 
{% endblock %}